@tailwind base;
@tailwind components;
@tailwind utilities;

.small-des{
    display: inline-block;
    /* Adjust width as needed to fit 5 words */
    overflow: hidden;
    height: 2rem;
    text-overflow: ellipsis;
}


:root {
    /* Light theme colors */
    --background-color: #F0F4F8;
    --card-background-color: #FFFFFF;
    --primary-color: #5D87A8;
    --accent-color: #AF48FF;
    --secondary-color: #97DEBB;
    --text-color: #2B2B2B;
    --link-color: #47494b;
    --button-color: #1D72B8;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      /* Dark theme colors */
      --background-color: #1C1E21;
      --card-background-color: #2A2D32;
      --primary-color: #3A5678;
      --accent-color: #9D42E6;
      --secondary-color: #76C2A5;
      --text-color: #E0E0E0;
      --link-color: #c7ced6;
      --button-color: #1E90FF;
    }
  }

  body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
  }
  
  
  button {
    background-color: var(--button-color);
    color: #FFF;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: var(--button-color);
    opacity: 0.9;
  }
  
  .header, .footer {
    background-color: var(--primary-color);
    color: #FFF;
    padding: 20px;
  }
  
  .accent {
    color: var(--accent-color);
  }
  

.container {
    width: calc(100% - 20px);
}
